header{
    height: 50px;
    background-color: aqua;
    top: 0;
    left: 0;
    right: 0;box-sizing: border-box;  margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: bisque;
}
.navi{
    float: left;
    margin-left: 60px;
    text-align: center;
    color: white;
}

.button{
    float: right;
    display: block;
    margin-right: 20px;
}
.button a{
     text-decoration: none;
}

.button li{
   
    float: left;
    display: flex;
    margin-right: 30px;
}

.button li a:hover{
    color: white;
    background-color: orange;
}

.home-page{
    text-align: center;
    
}